.introSection {
    width: 100vw;
    height: 100vh;
}

.containerIntro {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introLogoBox {
    height: 400px;
    display: flex;
    align-items: flex-end;
    text-align: start;
    margin: 0 40px;
}
.introLogo {
    width: auto;
    height: 100%;
}

.introTextBox {
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: flex-end;
    font-size: 25pt;
    color: #000;
}
.introText {
    font-family: NotoSansBold !important;
    margin-bottom: 16pt;
}
.introName {
    font-family: NotoSansBold !important;
    font-size: 40pt;
}

/* @media (max-width: 686px) {
    .introTitleBox {
        display: flex;
        width: 100%;
        height: 200px;
        padding-top: 50px;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
    }
    
    .introDescBox {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100px;
        justify-content: start;
        align-items: center;
        color: #fff;
        font-size: 15px;
    }
    .introDesc {
        margin-bottom: 10px;
        word-break: keep-all;
        text-align: center;
    }
} */