.containerCustomer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customerTitleBox {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color: #000;
    font-size: 50pt;
    margin-bottom: 40px;
}

.customerTitle {
    font-family: NotoSansBlack;
    padding: 0;
}

.customerCardBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.customerCard {
    padding: 0;
    width: 100%;
    margin: 50px 0;
    height: 400px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}
.customerCard:nth-child(2),
.customerCard:nth-child(4) {
    flex-direction: row-reverse;
}
.customerCard:last-child {
    margin-bottom: 80px;
}

.cardImgBox {
    position: relative;
    width: 500px;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.125s ease-in-out 0s;
}

.cardImg {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    margin: auto;
}

.cardImgBox:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.3);
    border-radius: 15px;
    transition: all 0.125s ease-in-out 0s;
}

.cardContents {
    width:800px;
    height: 100%;
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    /* padding-left: 50px; */
}

.customerCard:nth-child(2) .cardContents,
.customerCard:nth-child(4) .cardContents {
    text-align: end;
    padding-left: 0;
    /* padding-right: 50px; */
}

.cardTitleBox {
    width: 100%;
    margin: 40px 0;
}

.cardTitle {
    font-size: 40pt;
    font-family: NotoSansBold;
    color: #000;
    margin: 0 0 6px;
}

.cardDescBox {
    width: 100%;
    margin-bottom: 30px;
}

.cardDesc {
    padding: 0;
    margin: 0;
    font-size: 20pt;
    font-family: NotoSansBold;
}

@media (max-width: 1199px) {
    .customerCardBox {
        display: flex;
        width: 100%;
        height: 300px;
        justify-content: center;
        align-items: center;
    }

    .customerCard {
        padding: 0;
        width: 240px;
        height: 200px;
        z-index: 5;
    }

    .cardContents {
        text-decoration: none;
        position: relative;
        display: block;
        margin: auto;
        overflow: hidden;
    }
    .cardImgBox {
        position: relative;
        width: 100%;
        margin: auto;
        overflow: hidden;
        border-radius: 0;
        transition: all 0.125s ease-in-out 0s;
    }

    .cardImg {
        display: block;
        overflow: hidden;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 0;
        margin: auto;
    }

    .cardImgBox:after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(17, 17, 17, 0.6);
        border-radius: 0;
        transition: all 0.125s ease-in-out 0s;
    }
    .cardTitle {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        margin: 0 0 6px;
    }

    .customerDescBox {
        display: flex;
        width: 100%;
        height: 60px;
        justify-content: center;
        align-items: center;
    }

    .customerDesc {
        padding: 0;
        font-size: 20px;
    }
}
@media (max-width: 991px) {
    .customerTitleBox {
        width: 100%;
        text-align: center;
        color: #000;
        font-size: 30px;
        font-weight: bold;
    }
    .customerTitle {
        padding: 20px 0;
    }
    .customerCardBox {
        display: flex;
        width: 100%;
        height: 400px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .customerCard {
        padding: 0;
        width: 260px;
        height: 200px;
        z-index: 5;
    }

    .cardContents {
        text-decoration: none;
        position: relative;
        display: block;
        margin: auto;
        overflow: hidden;
    }
    .cardImgBox {
        position: relative;
        width: 100%;
        margin: auto;
        overflow: hidden;
        border-radius: 0;
        transition: all 0.125s ease-in-out 0s;
    }

    .cardImg {
        display: block;
        overflow: hidden;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 0;
        margin: auto;
    }

    .cardImgBox:after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(17, 17, 17, 0.6);
        border-radius: 0;
        transition: all 0.125s ease-in-out 0s;
    }
    .cardTitle {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        margin: 0 0 6px;
    }

    .customerDescBox {
        display: flex;
        width: 100%;
        height: 60px;
        justify-content: center;
        align-items: center;
    }

    .customerDesc {
        padding: 0;
        font-size: 16px;
    }
}
@media (max-width: 530px) {
    .customerTitleBox {
        width: 100%;
        text-align: center;
        color: #000;
        font-size: 30px;
        font-weight: bold;
    }
    .customerTitle {
        padding: 20px 0;
    }
    .customerCardBox {
        display: flex;
        width: 100%;
        height: 400px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .customerCard {
        padding: 0;
        width: 250px;
        height: 200px;
        z-index: 5;
    }

    .cardContents {
        text-decoration: none;
        position: relative;
        display: block;
        margin: auto;
        overflow: hidden;
    }
    .cardImgBox {
        position: relative;
        width: 100%;
        margin: auto;
        overflow: hidden;
        border-radius: 0;
        transition: all 0.125s ease-in-out 0s;
    }

    .cardImg {
        display: block;
        overflow: hidden;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 0;
        margin: auto;
    }

    .cardImgBox:after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(17, 17, 17, 0.6);
        border-radius: 0;
        transition: all 0.125s ease-in-out 0s;
    }
    .cardTitle {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        margin: 0 0 6px;
    }

    .customerDescBox {
        display: flex;
        width: 100%;
        height: 60px;
        justify-content: center;
        align-items: center;
    }

    .customerDesc {
        padding: 0;
        font-size: 15px;
    }
}
