.containerService {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.serviceDescBox,
.serviceTitleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
    margin-left: 300px;
}
.serviceTitleBox {
    margin-top: 100px;
}

.serviceTitle {
    font-size: 50pt;
    font-family: NotoSansBlack;
    /* color: #fff; */
    color: #000;
}

.serviceDesc {
    font-size: 20pt;
    font-weight: 200;
    color: #000;
}

.serviceCardBox {
    width: 100vw;
    height: 400px;
}

.serviceCard {
    margin: 0 20px;
    padding: 0;
    width: 400px;
    height: 370px;
    z-index: 5;
}

.cardContents {
    margin: 0 20px;
    text-decoration: none;
    position: relative;
    display: block;
    margin: auto;
    overflow: hidden;
}

.serviceCard:hover .cardImgBox:after {
    background: none;
}

.cardImgBox {
    position: relative;
    width: 400px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.125s ease-in-out 0s;
}

.cardImg {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 20px;
    margin: auto;
}

.lastImg {
    object-position: center top;
}

.cardImgBox:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.6);
    border-radius: 20px;
    transition: all 0.125s ease-in-out 0s;
}

.cardTitleBox {
    width: 100%;
    padding: 0 20px;
    opacity: 1;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 0;
    text-align: center;
    overflow: hidden;
}

.cardTitle {
    font-family: NotoSansBold;
    font-size: 20pt;
    color: #fff;
    margin: 0 0 6px;
}

.serviceCard:hover .cardTitleBox {
    opacity: 0;
    z-index: 3;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 0.125s ease-in-out 0s;
}

.serviceCard:hover .cardImg {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 0.125s ease-in-out 0s;
}

.btnBox {
    position: absolute;
    display: flex;
    top: 180px;
    right: 100px;
    align-items: center;
    justify-content: center;
}

.btn {
    cursor: pointer;
    width: 180px;
    height: 70px;
    border-radius: 10px;
    border: 3px solid #556;
    position: relative;
    background: #fff;
    font-family: NotoSansBlack;
    font-size: 22pt;
    color: #556;
    padding: 0;
    z-index: 1;
    transition: all 0.2s linear;
}
.btnBox:hover .btn {
    border-color: #2F75EC;
    color: #2F75EC;
}

@media (max-width: 1199px) {
    .serviceDescBox,
    .serviceTitleBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
    }

    .serviceTitle {
        font-size: 30px;
        font-weight: bold;
        color: #fff;
    }

    .serviceDesc {
        font-size: 15px;
        color: #fff;
    }

    .serviceCardBox {
        display: flex;
        width: 90%;
        height: 380px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .serviceCard {
        padding: 0;
        width: 240px;
        height: 150px;
        margin: 20px;
        z-index: 5;
    }

    .cardContents {
        text-decoration: none;
        position: relative;
        display: block;
        margin: auto;
        overflow: hidden;
    }

    .serviceCard:hover .cardImgBox:after {
        background: none;
    }

    .cardImgBox {
        position: relative;
        width: 90%;
        margin: auto;
        overflow: hidden;
        border-radius: 0;
        transition: all 0.125s ease-in-out 0s;
    }

    .cardImgBox:after {
        border-radius: 0;
    }

    .cardImg {
        display: block;
        overflow: hidden;
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 0;
        margin: auto;
    }

    .btnBox {
        display: flex;
        width: 100%;
        height: 50px;
        padding-top: 40px;
        align-items: center;
        justify-content: center;
    }

}
@media (max-width: 991px) {
    .serviceDescBox,
    .serviceTitleBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
    }

    .serviceTitle {
        padding-top: 20px;
        font-size: 25px;
        font-weight: bold;
        color: #fff;
    }

    .serviceDesc {
        font-size: 13px;
        color: #fff;
    }

    .serviceCardBox {
        display: flex;
        width: 90%;
        height: 450px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .serviceCard {
        padding: 0;
        width: 240px;
        height: 150px;
        margin: 0;
        z-index: 5;
    }
    .serviceCard:last-child {
        width: 480px;
    }

    .cardContents {
        text-decoration: none;
        position: relative;
        display: block;
        margin: auto;
        overflow: hidden;
    }

    .serviceCard:hover .cardImgBox:after {
        background: none;
    }

    .cardImgBox {
        position: relative;
        width: 100%;
        margin: auto;
        overflow: hidden;
        border-radius: 0;
        transition: all 0.125s ease-in-out 0s;
    }

    .cardImgBox:after {
        border-radius: 0;
    }

    .cardImg {
        display: block;
        overflow: hidden;
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 0;
        margin: auto;
    }

    .btnBox {
        display: flex;
        width: 100%;
        height: 50px;
        padding-top: 20px;
        align-items: center;
        justify-content: center;
    }

    .btn {
        width: 100px;
        height: 40px;
        position: relative;
        background: #000;
        font-weight: bold;
        color: #fff;
        line-height: 30px;
        font-size: 15px;
        padding: 0;
        border: none;
        z-index: 1;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
}
@media (max-width: 600px) {
    .serviceCardBox {
        width: 100%;
    }
}


/* (min-width: 1400px)
(max-width: 1399px)
(max-width: 1199px)
(max-width: 991px)
(max-width: 767px) */
