.containerService {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.serviceDescBox,
.serviceTitleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
}

.serviceTitle {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.serviceDesc {
    font-size: 20px;
    color: #fff;
}

.serviceCardBox {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-around;
}

.serviceCard {
    padding: 0;
    width: 280px;
    height: 210px;
    z-index: 5;
}

.cardContents {
    text-decoration: none;
    position: relative;
    display: block;
    margin: auto;
    overflow: hidden;
}

.serviceCard:hover .cardImgBox:after {
    background: none;
}

.cardImgBox {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.125s ease-in-out 0s;
}

.cardImg {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 20px;
    margin: auto;
}

.lastImg {
    object-position: center top;
}

.cardImgBox:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.6);
    border-radius: 20px;
    transition: all 0.125s ease-in-out 0s;
}

.cardTitleBox {
    width: 100%;
    padding: 0 20px;
    opacity: 1;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 0;
    text-align: center;
    overflow: hidden;
}

.cardTitle {
    font-family: gmarket-sans;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 6px;
}

.serviceCard:hover .cardTitleBox {
    opacity: 0;
    z-index: 3;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 0.125s ease-in-out 0s;
}

.serviceCard:hover .cardImg {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 0.125s ease-in-out 0s;
}

.btnBox {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.btn {
    cursor: pointer;
    width: 120px;
    height: 50px;
    position: relative;
    background: #000;
    font-weight: bold;
    color: #fff;
    line-height: 42px;
    font-size: 18px;
    padding: 0;
    border: none;
    z-index: 1;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.btn:hover {
    background: transparent;
}
.btn:after,
.btn:before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 50%;
    right: 0;
    z-index: -1;
    background: #000;
    transition: all 0.2s ease;
}
.btn:before {
    top: 0;
}
.btn:after {
    bottom: 0;
}
.btn:hover:after,
.btn:hover:before {
    height: 0;
    background-color: #000;
}

@media (max-width: 1199px) {
    .serviceDescBox,
    .serviceTitleBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
    }

    .serviceTitle {
        font-size: 30px;
        font-weight: bold;
        color: #fff;
    }

    .serviceDesc {
        font-size: 15px;
        color: #fff;
    }

    .serviceCardBox {
        display: flex;
        width: 90%;
        height: 380px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .serviceCard {
        padding: 0;
        width: 240px;
        height: 150px;
        margin: 20px;
        z-index: 5;
    }

    .cardContents {
        text-decoration: none;
        position: relative;
        display: block;
        margin: auto;
        overflow: hidden;
    }

    .serviceCard:hover .cardImgBox:after {
        background: none;
    }

    .cardImgBox {
        position: relative;
        width: 90%;
        margin: auto;
        overflow: hidden;
        border-radius: 0;
        transition: all 0.125s ease-in-out 0s;
    }

    .cardImgBox:after {
        border-radius: 0;
    }

    .cardImg {
        display: block;
        overflow: hidden;
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 0;
        margin: auto;
    }

    .btnBox {
        display: flex;
        width: 100%;
        height: 50px;
        padding-top: 40px;
        align-items: center;
        justify-content: center;
    }

}
@media (max-width: 991px) {
    .serviceDescBox,
    .serviceTitleBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
    }

    .serviceTitle {
        padding-top: 20px;
        font-size: 25px;
        font-weight: bold;
        color: #fff;
    }

    .serviceDesc {
        font-size: 13px;
        color: #fff;
    }

    .serviceCardBox {
        display: flex;
        width: 90%;
        height: 450px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .serviceCard {
        padding: 0;
        width: 240px;
        height: 150px;
        margin: 0;
        z-index: 5;
    }
    .serviceCard:last-child {
        width: 480px;
    }

    .cardContents {
        text-decoration: none;
        position: relative;
        display: block;
        margin: auto;
        overflow: hidden;
    }

    .serviceCard:hover .cardImgBox:after {
        background: none;
    }

    .cardImgBox {
        position: relative;
        width: 100%;
        margin: auto;
        overflow: hidden;
        border-radius: 0;
        transition: all 0.125s ease-in-out 0s;
    }

    .cardImgBox:after {
        border-radius: 0;
    }

    .cardImg {
        display: block;
        overflow: hidden;
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 0;
        margin: auto;
    }

    .btnBox {
        display: flex;
        width: 100%;
        height: 50px;
        padding-top: 20px;
        align-items: center;
        justify-content: center;
    }

    .btn {
        width: 100px;
        height: 40px;
        position: relative;
        background: #000;
        font-weight: bold;
        color: #fff;
        line-height: 30px;
        font-size: 15px;
        padding: 0;
        border: none;
        z-index: 1;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
}
@media (max-width: 600px) {
    .serviceCardBox {
        width: 100%;
    }
}


/* (min-width: 1400px)
(max-width: 1399px)
(max-width: 1199px)
(max-width: 991px)
(max-width: 767px) */
