.footer {
    position: relative;
    height: 100px;
    background-color: #fff !important;
    color: #444;
}

.footerContents {
    display: flex;
    width: 1920px;
    height: 100%;
    margin: auto;
}

.footerLeft {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}
.footerLeft div {
    margin-left: 100px;
    height: 100%;
}
.footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-family: NotoSansBold;
    font-size: 13pt;
    margin: 5px 0 0 0 !important;
}
.information {
    font-family: NotoSansBold;
    font-size: 11pt;
    margin: 3px 0 !important;
}

.footerCopy {
    flex: 1;
    margin-bottom: 0;
}
.copyright {
    font-family: NotoSansBold;
    font-size: 8pt;
}

.footerSns {
    width: 20%;
    /* margin-top: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif !important;
}

.footerLogo {
    display: flex;
    height: 40px;
    width: 100%;
    margin: auto;
    margin-bottom: 0;
}
#logo {
    width: 25%;
    height: auto;
    margin: auto;
}

.snsLinks {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5px;
}
.footerSns a {
    display: flex;
    flex-direction: column;
    font-size: 15pt;
    justify-content: flex-end;
    align-items: center;
    color: #444 !important;
    margin: 0 20px;
    transition: all 0.2s ease;
}
.footerSns a:hover {
    color: #aaa !important;
}
.footerSns a i {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1800px) {
    .footer {
        height: 100px;
    }
    
    .footerContents {
        width: 1440px;
    }
    
    .footerLeft div {
        margin-left: 50px;
    }
    
    .name {
        font-size: 13pt;
    }
    .information {
        font-size: 11pt;
        margin: 2px 0 !important;
    }
    
    .copyright {
        font-size: 8pt;
    }
    
    .footerSns {
        margin-top: 5px;
    }
    
    .footerLogo {
        height: 40px;
        margin-bottom: 5px;
    }
    #logo {
        width: 35%;
    }
    .footerSns a {
        font-size: 15pt;
    }
}

@media(max-width: 1080px) {
    .footerText {
        font-size: 1rem;
    }
}

@media(max-width: 930px) {
    .footerRow {
        display: flex;
        flex-direction: column !important;
    }
}

@media(max-width: 660px) {
    .footerInfo {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }
}