.introSection {
    width: 100%;
}

.titleBox {
    display: flex;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
    color: #000;
    font-weight: bold;
}
.title {
    font-size: 30pt;
    font-family: NotoSansBold;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .titleBox {
        font-size: 25px;
    }
}